on: pull_request
name: test on PRs
jobs:
  pullRequestOpened:
    name: pull request opened
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: pull request opened
      uses: actions/bin/filter@3c0b4f0e63ea54ea5df2914b4fabf383368cd0da
      with:
        args: action 'opened|synchronize'
    - name: go test -race ./...
      uses: ./.github/action/go-tools
      with:
        args: test -race ./...
